<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Project2</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
  <section id="signPage">
  
  <section id="signup">
    <h1>Start Tracking Your Workouts</h1>
    <p>create an account</p>
    <form id="signupForm" name="signupForm" action="/signup" method="POST" class="mainForm">    
      <input id="user" type="text" name="username" placeholder="username"/>
      
      <input id="pass" type="password" name="pass" placeholder="password"/>
   
      <input id="pass2" type="password" name="pass2" placeholder="retype password"/>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="formSubmit" type="submit" value="SIGN UP" />
    </form>
  </section>
      
  <section id="sig">
    <h1>Already have an account?</h1>
    <p>Login to your account</p>
    <a href="/login">
        <div id="sign">LOGIN</div>
      </a>
 </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
    </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>